{
    "extends": ["airbnb"],
    "parser": "babel-eslint",
    "settings": {
        "import/resolver": {
            "babel-plugin-root-import": {}
        }
    },
    "rules": {
        "camelcase": [1],
        "function-paren-newline": [0],
        "object-curly-newline": [0],
        "arrow-parens": [2, "as-needed"],
        "quotes": [2, "double"],
        "indent": [2, 4, { "SwitchCase": 1 }],
        "comma-dangle": [2, "always-multiline"],
        "prefer-destructuring": [0],
        "import/prefer-default-export": [0],
        "valid-jsdoc": [2],
        "space-before-function-paren": [0],
        "implicit-arrow-linebreak": [0],
        "require-jsdoc": [
            2,
            {
                "require": {
                    "FunctionDeclaration": true,
                    "MethodDefinition": true,
                    "ClassDeclaration": true,
                    "ArrowFunctionExpression": false,
                    "FunctionExpression": false
                }
            }
        ],
        "operator-linebreak": ["after", { "overrides": { "?": "before", ":": "before", "=": "after" } } ]
    }
}
